################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mrntors/.vs/Mrntors/FileContentIndex/451ffc7b-a188-468f-ac32-3e408d89206a.vsidx
/.gitignore
/Mrntors/.vs/Mrntors/FileContentIndex/72f99654-cf86-4dd3-8f59-b1376aec5705.vsidx
/Mrntors/.vs/Mrntors/FileContentIndex/56c1e07c-42aa-4ea4-844c-02c5bc709362.vsidx
