################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mrntors/.vs/Mrntors/FileContentIndex/451ffc7b-a188-468f-ac32-3e408d89206a.vsidx
/.gitignore
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
/Mrntors/.vs/Mrntors/FileContentIndex/72f99654-cf86-4dd3-8f59-b1376aec5705.vsidx
/Mrntors/.vs/Mrntors/FileContentIndex/a6e06f79-f7b3-401e-97dd-7bc16cd2acd3.vsidx
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/Mrntors/.vs/Mrntors/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
*.vsidx
