################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mrntors/.vs/Mrntors/FileContentIndex/451ffc7b-a188-468f-ac32-3e408d89206a.vsidx
/.gitignore
